alabaster==0.7.12
atomicwrites==1.4.0
attrs==20.3.0
Babel==2.9.0
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
docutils==0.16
idna==2.10
imagesize==1.2.0
importlib-metadata==3.3.0
iniconfig==1.1.1
Jinja2==2.11.2
MarkupSafe==1.1.1
packaging==20.8
pluggy==0.13.1
py==1.10.0
Pygments==2.7.3
pyparsing==2.4.7
pytest==6.2.1
pytz==2020.5
requests==2.25.1
snowballstemmer==2.0.0
Sphinx==3.4.2
sphinx-rtd-theme==0.5.1
sphinx-gallery
matplotlib~=3.3.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
toml==0.10.2
typing-extensions==3.7.4.3
urllib3==1.26.2
zipp==3.4.0

Pillow~=8.1.0
numpy~=1.19.5
pip~=20.0.2
setuptools~=44.0.0
wheel~=0.34.2
python-dateutil~=2.8.1
six~=1.14.0
webencodings~=0.5.1
cycler~=0.10.0
kiwisolver~=1.3.1
CacheControl~=0.12.6
msgpack~=0.6.2
scipy~=1.6.0
joblib~=1.0.0
pandas~=1.2.1
SimpSOM~=1.3.4
scikit-learn~=0.24.1
threadpoolctl~=2.1.0