
        html, body, .grid-container {
            height: 100%;
            margin: 0;
            font-family: Arial;
            overflow: auto;
        }

        .grid-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            gap: 0px 0px;
            grid-template-areas:
                    "left right"
                    "left right"
                    "left right";
        }
        .left {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1.5fr 0.5fr;
            gap: 0px 0px;
            grid-template-areas:
                    "."
                    "slider-grid";
            grid-area: left;
        }
        .slider-grid { grid-area: slider-grid;}
        .right { grid-area: right; }

        .slider {
            -webkit-appearance: none;
            margin-left: 40px;
            margin-right: 40px;
            width: -moz-calc(100% - 80px);
            width: -webkit-calc(100% - 80px);
            width: -o-calc(100% - 80px);
            width: calc(100% - 80px);
            height: 25px;
            background: #bababa;
            outline: none;
            opacity: 0.7;
            -webkit-transition: .2s;
            transition: opacity .2s;
        }

        .slider:hover {
            opacity: 1;
        }

        .slider::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 25px;
            height: 25px;
            background: #1f77b4;
            cursor: pointer;
        }

        .slider::-moz-range-thumb {
            width: 25px;
            height: 25px;
            background: #1f77b4;
            cursor: pointer;
        }

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 90%;
        }

        td, #parameters th {
            border: thin solid black;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

        ul {
            width: 100%;
        }
        ul li {
            width: 49%;
            display: inline-block;
        }

        ul li > * {
            width: 80%;
        }

        .button {
            background-color: #1f77b4;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            transition-duration: 0.4s;
        }

        .button:hover {
            background-color: #3598d9;
            color: white;
        }